.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.3);
    /*對話框遮罩螢幕*/
}

#result{
    background: white;
    text-align: center;
    margin: 12% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
}
