@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

:root{
    --primary-color:#000;
    --dark-color:#333333;
    --light-color:#f4f4f4;
    --lose-color:#dc3545;
    --win-color:#28a745;
    --modal-duration:0.8s;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-btn{
    padding: 0.4rem 1.3rem;
    font-size: 1.2rem;
    display: none;  /*hide it for the begining*/
    background: var(--light-color);
    color: #333;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    border-radius: 8px; 
}

.restart-btn:hover{
    background: rgb(255, 0, 106);
    color: #f2f2f2;
    font-size: 1.25rem;
}

.header{
    margin: 1.2rem 0 !important;
    text-align: left !important;
	margin-bottom: 1.5rem !important;
}

#top{
    margin-bottom: 0.5rem !important;
    color: #FF7733 !important;
	font-size: 3rem !important; 
}

.header h2{
	font-weight: normal;
}



.row {
	margin-bottom:3rem !important;
}

.row .site{
	height: 180px;
	width:32%;
	float: left;
	display: inline-block;
	text-align:left;
	font-size: 30px;
	margin-left: 8px;
}
/* Media Queries */
@media screen and (max-width: 780px) {
    .row .site {width: 100%; margin: 8px 0px}
}









.score{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.3rem;
    color: white;
}



.score p:first-child{
    background: var(--primary-color);
}

.score p:last-child{
    background: var(--dark-color);
}

.choices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 5rem;
    text-align: center;
}









.navbar{
    background-color: #FF8633;
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float: left;
    display: block;
    text-align: center;
    color: #f2f2f2;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul{
    margin: 8px 0 0 0px;
    list-style: none;
}

#open:hover{
    background-color: darkred;
}

.navbar a:hover{
    background-color:azure;
    color: black;
}



.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}


.side-nav a{
    padding: 10px 20px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: pink;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    background-color: #FF8633;
    color: white;
}



.side-nav .btn-close{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 35px;
    margin-left: 30px;
}

.modal .btn-close{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 30px;
    margin-left: 30px;
}


#main{
    transition:margin-left 0.7s;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}


.projects-img{
	margin-top: 0rem;
	margin-bottom:0rem;
	padding-top: 2rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	text-align: left;
	max-width: 2000px;
}

h1{
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

h2{
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-weight: normal;
}


#t{    /*Unordered list properties*/
	margin-left: 20px;
	margin-bottom: 5rem;
}


.test{
	margin-top:2.5rem;
	text-align:left;
}

.projects-title{
	text-align: left;
}








.footer{
    background-color: #FFA533;
    overflow: hidden;
    height: 200px;
	text-align: center;
}

.footer h3{
	color: #f4f4f4;
	margin-bottom: 1.5rem;
	margin-top: 2.5rem;
	font-weight: normal;
}

.footer .contact-btn{
	display: inline-block;  /*block*/
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.25s;
    cursor: pointer;
	background-color: #FFA533;
    color: white; 
    border: 3px solid white;
	font-family: 'Titillium Web', sans-serif;
	margin-bottom:2rem;
}

.footer .contact-btn:hover{
  background-color: #F4F4F4;
  color: black;
}
.back-to-home{
	overflow: hidden;
	height: 80px;
	text-align: center;
}

.back-to-home .back-btn{
	display: inline-block;  /*block*/
    color: #FFA533;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.25s;
    cursor: pointer; 
	font-family: 'Titillium Web', sans-serif;
	background-color: Transparent;
	border:none;
	margin-top: 2rem;
}

.back-to-home .back-btn:hover{
	color: black;
	font-weight: bold;
}






/*視窗大小轉換與圖示大小改變*/

@media(max-width: 668px){
    .navbar-nav{display: none}
	#paper{font-size: 80px}
	#scissors{font-size: 80px}
	#rock{font-size: 80px}
	
	#top{font-size: 2.6rem !important}
}

@media(min-width: 668px){
    .open-slide{display: none}
}

@media (max-width: 500px){
	#top{font-size: 2.5rem !important}
}













