<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/project1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  
  <nav class="navbar">
      <span class="open-slide">
          <a href="#" onclick="openSideMenu()">
              <svg width='30' height='30'>
                  <path d='M0,5 30 5' stroke=#fff stroke-width='5'/>
                  <path d='M0,14 30 14' stroke=#fff stroke-width='5'/>
                  <path d='M0,23 30 23' stroke=#fff stroke-width='5'/>
              </svg>
          </a>
      </span>
      
      <ul class="navbar-nav">
          <li><a href="#">tab1</a></li>
          <li><a href="#">tab2</a></li>
          <li><a href="#">tab3</a></li>
      </ul>
      
      
      
      <div id="side-menu" class="side-nav">
          <a href="#" class="btn-close" onclick="CloseSideMenu()">&times;</a>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Service</a>
          <a href="#">Contact</a>
      </div>
  </nav>
  
  
  
  <div id="main">
      <h1>Responsive Side Menu</h1>
  </div>
   
   
   
   
   
<script>
    function openSideMenu(){
        document.getElementById('side-menu').style.width='230px';
        document.getElementById('main').style.marginLeft='230px';
    }
    function CloseSideMenu(){
        document.getElementById('side-menu').style.width='0px';
        document.getElementById('main').style.marginLeft='0px';
    }
</script>
    
</body>
</html>